.item{
    scroll-snap-align: center;
}

/* .item-list{
    max-width: 950px;
    width: 70vw;
    display: flex;
} */
.item-list.active{
    background-color: #eaeff3;
    border-radius:7px;   
}
.section-1 h2{
    color: #303030;
    font-size:20px;
    font-weight:600;
}
/* .section-1 .carousel-view{
    display: inline-flex;
} */
.section-2{
    margin-top:30px;
}
.section-2 h2{
    margin:0px;
    color: #303030;
    font-size:20px;
    font-weight:600;
}
.section-2 p{
    margin: 0px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 600;
}
.section-2 .time-chips{
    display:flex;
    margin-top:20px;
}
.section-2 .time-chips div{
    padding:8px;
    margin-right:10px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    color:#303030;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
}
.section-2 .time-chips div.active{
    background-color: #eaeff3;
    border-radius:7px;
}

@media (max-width: 768px){
    .section-2 .time-chips{
        display: block;
    }
    .section-2 .time-chips div{
        display:inline-block;
        margin:0% 8px 8px 0px;
    }
}

.carousel-view{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 18px;
}

.date-box{
    padding: 16px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.date-carousel-container{
    display: flex;
}
button#prev-btn,
button#next-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0px;
}
button#prev-btn:active,
button#next-btn:active,
button#prev-btn:focus,
button#next-btn:focus{
    border:0px;
    outline:0px;
}

/* width */
.carousel-view::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  .carousel-view::-webkit-scrollbar-track {
    background: #f7f4ed;
    border-radius:7px;
  }
  
  /* Handle */
  .carousel-view::-webkit-scrollbar-thumb {
    background: #eaeff3;
    border-radius:7px;
  }
  
  /* Handle on hover */
  .carousel-view::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }