.item {
  scroll-snap-align: center;
}

.item-list{
    min-width: 70px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 7px;
}

.item-list.active {
  background-color: #ebeff3;
  border-radius: 7px;
  font-weight: 600;
}
.section-1 h2 {
  color: #303030;
  font-size: 20px;
  font-weight: 600;
}
.section-2 {
  margin-top: 30px;
}
.section-2 h2 {
  margin: 0px;
  color: #303030;
  font-size: 20px;
  font-weight: 600;
}
.section-2 p {
  margin: 0px;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 600;
}
.section-2 .time-chips {
  display: flex;
  margin-top: 20px;
}
.section-2 .time-chips div {
  padding: 8px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.section-2 .time-chips div.active {
  background-color: #eaeff3;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .section-2 .time-chips {
    display: block;
  }
  .section-2 .time-chips div {
    display: inline-block;
    margin: 0% 8px 8px 0px;
  }
}

.carousel-view {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 18px;
}

.date-box {
  padding: 16px 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  color: #303030;
  white-space: pre-wrap;
}


.date-carousel-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
button#prev-btn,
button#next-btn {
  width: 80px;
  border-radius: 50%;
  padding: 0px;
  height: 60px;
  background-color: #ecebe9;
}
button#prev-btn:active,
button#next-btn:active,
button#prev-btn:focus,
button#next-btn:focus {
  border: 0px;
  outline: 0px;
}

.carousel-view::-webkit-scrollbar {
  height: 8px;
}

.carousel-view::-webkit-scrollbar-track {
  background: #f7f4ed;
  border-radius: 7px;
}

.carousel-view::-webkit-scrollbar-thumb {
  background: #eaeff3;
  border-radius: 7px;
}

.carousel-view::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

button img{
    width: 16px;
    filter: contrast(0.1);
    opacity: 0.6;
}
